body {
 margin:0;
 background: rgb(228 228 255);
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
svg.rose {
  display: block;
  width:600px;
  padding-top: 10em;
  margin-top: -100px;
}
.title{
        align-items: center;
}

.container {
    height: 93vh;
    display: grid;
    width: 124vh;
    margin: 20px auto;
    margin-top: 20px;
    border-radius:55px;
    box-shadow: 6px 7px 62px 0px rgba(0,0,0,0.3);
    background: rgb(255 255 255);
    background: -moz-linear-gradient(45deg, rgba(155,198,53,1) 0%, rgba(192,234,103,1) 99%);
    background: -webkit-linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(192,234,103,1) 99%);
    background: linear-gradient(45deg, rgb(255 255 255) 0%,rgb(255 255 255) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 );
    align-content: center;
    align-items: center;
    justify-items: center;
}


@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(112, 66, 220, 0.8),
                 0 0 60px  rgba(112, 66, 220, 0.8),
                 0 0 80px  rgba(112, 66, 220, 0.5),
                 0 0 100px rgba(112, 66, 220, 0.5),
                 0 0 140px rgba(112, 66, 220, 0.5),
                 0 0 200px rgba(112, 66, 220, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(112, 66, 220, 0.8),
                 0 0 30px rgba(112, 66, 220, 0.8),
                 0 0 40px rgba(112, 66, 220, 0.8),
                 0 0 50px rgba(112, 66, 220, 0.5),
                 0 0 80px rgba(112, 66, 220, 0.5);
  }
}


h1 {
 
  
  
    color: rgb(117 117 185); /* Color del texto */
    font-size: 36px;
    margin-top: 100px;
font-style: italic;
  animation: neonGlow 2s infinite alternate;


}

@keyframes rose-animation {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100%{
       transform: scale(1);
    opacity: 1;
  }
}

.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.1s alternate;
}
.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.34s alternate;
}
.cls-9,.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.5s alternate;
}
cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17{
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
   animation: rose-animation 2s ease infinite 0.2s alternate;
}
.boingInUp {
  -webkit-animation-name: boingInUp;
          animation-name: boingInUp;
}
@-webkit-keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
            transform: perspective(800px) rotateX(-90deg);
  }
  
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
            transform: perspective(800px) rotateX(50deg);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
            transform: perspective(800px) rotateX(0deg);
  }
}
#hojas{
  animation: boingInUp 2s ease infinite alternate  ;
}
@keyframes boingInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
            transform: perspective(800px) rotateX(-90deg);
  }
  
  50% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(50deg);
            transform: perspective(800px) rotateX(50deg);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
            transform: perspective(800px) rotateX(0deg);
  }
}
.puffIn {
  -webkit-animation-name: puffIn;
          animation-name: puffIn;
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
            transform: scale(2,2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
            transform: scale(2,2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  50%{
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
#tallos{
  animation: puffIn 2s infinite ease alternate;
}
#sombra_1{
  visibility:hidden;
}